<div class="jumbotron">
  <h1>TEst Your Bot</h1>
  <p class="lead">
    Platform for sharing user simulators for testing dialog systems.
  </p>
  <p><a class="btn btn-lg btn-warning" ng-href="#">Amazing!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<p>
This platform has been designed to allow research teams around the globe easily share
user simulators for various tasks, that test their systems.


<h2>FAQ: What do I need to do to test my dialog system?</h2>
<p>
It's easy:
<ol>
    <li>Get API key <a ui-sref="quick_start">here</a>.</li>
    <li>Download <a ui-sref="quick_start">code</a> to put to your dialog system to communicate with the user simulators here.</li>
</ol>