<div class="jumbotron">
  <h1>TEst Your Bot</h1>
  <p class="lead">
    Platform for sharing user simulators for testing dialog systems.
  </p>
</div>

<p>
This platform has been designed to allow research teams around the globe easily share
user simulators for various tasks, that test their systems.


<h2>How do I start?</h2>
<p>
It's easy:
<ol>
    <li>Get API key <a ui-sref="quick_start">here</a>.</li>
    <li>Run your system against a simulator by our simple API <a ui-sref="api_docs">here</a>.</li>
</ol>